@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ECF0F5;
    min-height: 100vh;
}

/* Menú superior */
.menu-superior {
    background-color: #F65100;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.menu-superior .opciones {
    display: flex;
    gap: 20px;
    position: relative;
    align-items: center;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.menu > li {
    list-style: none;
    position: relative;
}

.menu-superior .opciones a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.dropdown-toggle {
    cursor: pointer;
}

.submenu {
    display: none;
    position: absolute;
    left: 0;
    background: #fff;
    padding: 10px;
    margin-top: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    z-index: 1000;
    list-style-type: none;
}

.submenu li {
    padding: 8px 0;
}

.submenu a {
    color: #F65100 !important;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.submenu a:hover {
    background-color: #f8f8f8;
}

/* Clase activa para mostrar el submenú */
.dropdown.active .submenu {
    display: block;
}

/* Contenedor principal */
.contenedor-principal {
    display: flex;
    flex-direction: column;
    padding-top: 70px; /* espacio para que el menú no tape el contenido */
}

/* Perfil y botones */
.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}

.menu-superior .perfil button {
    background-color: white;
    color: #F65100;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 22px;
}

/* Imagen de perfil */
.menu-superior .perfil .img-perfil {
    width: 30px;
    height: 30px;
}

/* Efecto hover para botones */
button:hover,
.menu-superior .perfil button:hover {
    background-color: #F65100;
    color: white;
}
