@charset "utf-8";

/* CSS Document */

:root {

	--fuentetitulos: 'PT Sans', sans-serif;

	--fuenteparrafos: 'Open Sans', sans-serif;

	--primario: #F65100;

	--blanco: white;

	--negro: black;

}



body {
	font-family: Arial, sans-serif;
	margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;	
	background-color: #F65100;
     }

.container{
	width: 45%;    
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.formulario {
   	    	margin-bottom: 20px;
/*            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 50%;
            max-width: 500px;
            position: relative;
*/
        }

.titulo {
            text-align: center;
            margin-bottom: 20px;
        }
.fila {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

.fila div {
        flex: 1;
        margin-right: 10px;
    }

.fila div:last-child {
        margin-right: 0;
    }

label {
    flex: 1;
	margin-bottom: 5px;
	margin-left: 5.5px;	
    }

input,select {
        flex: 1;
        padding: 5px;
        box-sizing: border-box;
		width: 40px;
    }
.logo {
            position: absolute;
            top: 10px;
            right: 10px;
            max-width: 50px;
            max-height: 50px;
        }


/*enviar {
            width: 100%;
            background-color: #F65100;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }*/
.botones{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
}
.boton{
	background-color: #F65100;        
	color: #fff;
	padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
   }
.url{
	width: 100%;
}


/* TABLETAS (600px y 1024 px)*/
@media screen and (max-width: 1024px) {
    .container {
        width: 70%; /* Ajuste el ancho para tabletas */
    }

    .fila {
        flex-direction: column; /* Cambiar la dirección de las filas a columnas */
    }

    .botones {
        flex-direction: column; /* Cambiar la dirección de los botones a columnas */
    }

    .boton {
        width: 100%; /* Botones ocupen todo el ancho disponible */
        margin-bottom: 10px;
    }
}

/* Estilos para teléfonos móviles (pantallas de menos de 600px) */

@media screen and (max-width: 600px) {
    body {
        padding: 30px; /* Reducir el padding en pantallas pequeñas */
        flex-direction: column; /* Cambiar la dirección del layout a columna */
        justify-content: center;
    }

    .container {
        width: 100%; /* Ocupa todo el ancho en teléfonos */
        padding: 15px; /* Ajustar el padding */
    }

    .fila {
        flex-direction: column; /* Cambiar la dirección de las filas a columnas */
    }

    label, input, select {
        width: 80%; /* Ocupa todo el ancho disponible */
    }

    .botones {
        flex-direction: column; /* Alinear los botones en una columna */
        margin-top: 15px;
    }

    .boton {
        width: 100%; /* Asegurarse de que los botones ocupen todo el ancho disponible */
        margin-bottom: 10px; /* Espacio entre los botones */
    }
}


