@charset "utf-8";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ECF0F5;
  min-height: 100vh;
}

/* Menú superior */
.menu-superior {
  background-color: #F65100;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.menu-superior .opciones {
  display: flex;
  gap: 20px;
  position: relative;
  align-items: center;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.menu > li {
  list-style: none;
  position: relative;
}

.menu-superior .opciones a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.dropdown-toggle {
  cursor: pointer;
}

.submenu {
  display: none;
  position: absolute;
  left: 0;
  background: #fff;
  padding: 10px;
  margin-top: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  z-index: 1000;
  list-style-type: none;
}

.submenu li {
  padding: 8px 0;
}

.submenu a {
  color: #F65100 !important;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.submenu a:hover {
  background-color: #f8f8f8;
}

/* Clase activa para mostrar el submenú */
.dropdown.active .submenu {
  display: block;
}

/* Contenedor principal */
.contenedor-principal {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

/* Perfil y botones */
.perfil {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
}

.menu-superior .perfil button {
  background-color: white;
  color: #F65100;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 22px;
}

.menu-superior .perfil .img-perfil {
  width: 30px;
  height: 30px;
}

button:hover,
.menu-superior .perfil button:hover {
  background-color: white;
  color: #F65100;
}

.titulo-modulo {
  text-align: center;
  margin: 20px 0;
  color: #F65100;
  font-size: 2rem;
}

.modulo-titulo {
  max-width: 1200px;
  margin: 0 auto;
}

/* Mini checador - mini reloj */

/* minireloj */

.mini-reloj { 
  color: #F65100;
  background-color: #fff;
  border-radius: 30px;
  padding: 14px;
  width: 150px;
  height: 10px;
  transition: background 0.5s ease, box-shadow 0.3s ease;
  text-align: center;
  margin-bottom: 6px;
  cursor: pointer;
}

.mini-reloj:hover {
  transform: scale(1.03);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.35);
}

.mini-reloj .hora {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}
#reloj-menu{
  margin-left: 850px;
}

.formulario-reloj {
  max-width: 300px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.formulario-reloj .buton-checar1 {
  background-color: #F65100;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;

}
.hora-con-icono {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: -3px;

}

.mini-reloj .icono {
  font-size: 1.2rem;
}
.formulario-reloj {
  transition: all 0.3s ease;
}

#boton-checar1 {
  font-size: 15px;
  padding: 12px 25px;
  background: white;

}

#icono-dia-noche1 {
  margin: 0;
  margin-top: -7px;

}

/* ----------------------------------------------------- MODULOS ----------------------------------------------------- */ 

/* COTIZADOR */



.formularios-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 40%;
    max-width: 1200px;
    padding-top: 26px;
}

.formulario-izquierda, .formulario-derecha {
    width: 180%;
    margin: 20px 0;
}

.formulario {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    text-align: center;
    margin-bottom: 20px;
}

.fila {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

label {
    margin-left: 5.5px;
}

input, select {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#adicion {
    margin-left: 2rem;
}

.ad {
    width: 40%;
}

.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.boton {
    background-color: #F65100;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

#b1 {
    margin-right: 2px;
}

#b2 {
    margin-left: 2px;
}

.input-button-container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.toggle-button {
    padding: 5px 10px;
    background-color: #F65100;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 13%;
    left: 75%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Switch Button */
.switch-button {
    display: inline-block;
}

.switch-button .switch-button__checkbox {
    display: none;
}

.switch-button .switch-button__label {
    background-color: #F65100;
    width: 4rem;
    height: 2rem;
    border-radius: 3rem;
    display: inline-block;
    position: relative;
}

.switch-button .switch-button__label:before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: #fdffff;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 1px #000;
    transition: 0.2s;
}

.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(2rem);
}

button:hover,
.toggle-button button:hover {
  background-color: #F65100;
  color: white;
}
